--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: jessy
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO jessy;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: jessy
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account_customuser; Type: TABLE; Schema: public; Owner: jessy
--

CREATE TABLE public.account_customuser (
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    id uuid NOT NULL,
    role character varying(255) NOT NULL
);


ALTER TABLE public.account_customuser OWNER TO jessy;

--
-- Name: account_customuser_groups; Type: TABLE; Schema: public; Owner: jessy
--

CREATE TABLE public.account_customuser_groups (
    id bigint NOT NULL,
    customuser_id uuid NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.account_customuser_groups OWNER TO jessy;

--
-- Name: account_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: jessy
--

ALTER TABLE public.account_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: account_customuser_user_permissions; Type: TABLE; Schema: public; Owner: jessy
--

CREATE TABLE public.account_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id uuid NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.account_customuser_user_permissions OWNER TO jessy;

--
-- Name: account_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: jessy
--

ALTER TABLE public.account_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: jessy
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO jessy;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: jessy
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: jessy
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO jessy;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: jessy
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: jessy
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO jessy;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: jessy
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: jessy
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id uuid NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO jessy;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: jessy
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: jessy
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO jessy;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: jessy
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: jessy
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO jessy;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: jessy
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: jessy
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO jessy;

--
-- Name: events_category; Type: TABLE; Schema: public; Owner: jessy
--

CREATE TABLE public.events_category (
    id bigint NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.events_category OWNER TO jessy;

--
-- Name: events_category_id_seq; Type: SEQUENCE; Schema: public; Owner: jessy
--

ALTER TABLE public.events_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.events_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: events_event; Type: TABLE; Schema: public; Owner: jessy
--

CREATE TABLE public.events_event (
    id bigint NOT NULL,
    title character varying(100) NOT NULL,
    description text NOT NULL,
    date date NOT NULL,
    location character varying(100) NOT NULL,
    capacity integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    category_id bigint NOT NULL,
    organizer_id uuid NOT NULL,
    CONSTRAINT events_event_capacity_check CHECK ((capacity >= 0))
);


ALTER TABLE public.events_event OWNER TO jessy;

--
-- Name: events_event_id_seq; Type: SEQUENCE; Schema: public; Owner: jessy
--

ALTER TABLE public.events_event ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.events_event_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: events_eventimage; Type: TABLE; Schema: public; Owner: jessy
--

CREATE TABLE public.events_eventimage (
    id bigint NOT NULL,
    url character varying(200) NOT NULL,
    event_id bigint NOT NULL
);


ALTER TABLE public.events_eventimage OWNER TO jessy;

--
-- Name: events_eventimage_id_seq; Type: SEQUENCE; Schema: public; Owner: jessy
--

ALTER TABLE public.events_eventimage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.events_eventimage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: participation_participation; Type: TABLE; Schema: public; Owner: jessy
--

CREATE TABLE public.participation_participation (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    event_id bigint NOT NULL,
    user_id uuid NOT NULL
);


ALTER TABLE public.participation_participation OWNER TO jessy;

--
-- Name: participation_participation_id_seq; Type: SEQUENCE; Schema: public; Owner: jessy
--

ALTER TABLE public.participation_participation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.participation_participation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reviews_review; Type: TABLE; Schema: public; Owner: jessy
--

CREATE TABLE public.reviews_review (
    id bigint NOT NULL,
    note smallint NOT NULL,
    comment text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    event_id bigint NOT NULL,
    user_id uuid NOT NULL,
    CONSTRAINT reviews_review_note_check CHECK ((note >= 0))
);


ALTER TABLE public.reviews_review OWNER TO jessy;

--
-- Name: reviews_review_id_seq; Type: SEQUENCE; Schema: public; Owner: jessy
--

ALTER TABLE public.reviews_review ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reviews_review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reviews_reviewmedia; Type: TABLE; Schema: public; Owner: jessy
--

CREATE TABLE public.reviews_reviewmedia (
    id bigint NOT NULL,
    url character varying(200) NOT NULL,
    media_type character varying(10) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    review_id bigint NOT NULL
);


ALTER TABLE public.reviews_reviewmedia OWNER TO jessy;

--
-- Name: reviews_reviewmedia_id_seq; Type: SEQUENCE; Schema: public; Owner: jessy
--

ALTER TABLE public.reviews_reviewmedia ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reviews_reviewmedia_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: account_customuser; Type: TABLE DATA; Schema: public; Owner: jessy
--



--
-- Data for Name: account_customuser_groups; Type: TABLE DATA; Schema: public; Owner: jessy
--

COPY public.account_customuser_groups (id, customuser_id, group_id) FROM stdin;
\.


--
-- Data for Name: account_customuser_user_permissions; Type: TABLE DATA; Schema: public; Owner: jessy
--

COPY public.account_customuser_user_permissions (id, customuser_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: jessy
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: jessy
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: jessy
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: jessy
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: jessy
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	account	customuser
7	events	category
8	events	event
9	events	eventimage
10	reviews	review
11	reviews	reviewmedia
12	participation	participation
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: jessy
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: jessy
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
myxor0rr307l3ie4ks0ype1i39nip4p1	.eJxtjM0OwiAQhN-FsxJKkQWPvfsMZJcFqRqa9OdkfHdtrIkmzmEu831zFwGXuYRlSmPoWRwF6Xf2f-oTsfvWCOM11dXlC9bzIONQ57EnuSJyWyd5Gjjduo39OSg4lZfd5pgzagcOPThSnMio6BOxAm6NgsZEx9YDWcNeWzCJnLJNbA8I4LN4PAGC2z7h:1v48Kv:8oeQgwOyqtzhBSlqkhLwuNr2PkJp3ScUfegvTSN-_qA	2025-10-16 01:42:25.20197+00
\.


--
-- Data for Name: events_category; Type: TABLE DATA; Schema: public; Owner: jessy
--

COPY public.events_category (id, name) FROM stdin;
1	Musique
2	Sport
3	Culture
4	Gastronomie
5	Technologie
6	Nature
\.


--
-- Data for Name: events_event; Type: TABLE DATA; Schema: public; Owner: jessy
--



--
-- Data for Name: events_eventimage; Type: TABLE DATA; Schema: public; Owner: jessy
--

COPY public.events_eventimage (id, url, event_id) FROM stdin;
\.


--
-- Data for Name: participation_participation; Type: TABLE DATA; Schema: public; Owner: jessy
--



--
-- Data for Name: reviews_review; Type: TABLE DATA; Schema: public; Owner: jessy
--



--
-- Data for Name: reviews_reviewmedia; Type: TABLE DATA; Schema: public; Owner: jessy
--

COPY public.reviews_reviewmedia (id, url, media_type, created_at, updated_at, review_id) FROM stdin;
\.


--
-- Name: account_customuser_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: jessy
--

SELECT pg_catalog.setval('public.account_customuser_groups_id_seq', 1, false);


--
-- Name: account_customuser_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: jessy
--

SELECT pg_catalog.setval('public.account_customuser_user_permissions_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: jessy
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: jessy
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: jessy
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 48, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: jessy
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: jessy
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 12, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: jessy
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 22, true);


--
-- Name: events_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: jessy
--

SELECT pg_catalog.setval('public.events_category_id_seq', 6, true);


--
-- Name: events_event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: jessy
--

SELECT pg_catalog.setval('public.events_event_id_seq', 8, true);


--
-- Name: events_eventimage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: jessy
--

SELECT pg_catalog.setval('public.events_eventimage_id_seq', 1, false);


--
-- Name: participation_participation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: jessy
--

SELECT pg_catalog.setval('public.participation_participation_id_seq', 15, true);


--
-- Name: reviews_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: jessy
--

SELECT pg_catalog.setval('public.reviews_review_id_seq', 40, true);


--
-- Name: reviews_reviewmedia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: jessy
--

SELECT pg_catalog.setval('public.reviews_reviewmedia_id_seq', 1, false);


--
-- Name: account_customuser_groups account_customuser_groups_customuser_id_group_id_7e51db7b_uniq; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.account_customuser_groups
    ADD CONSTRAINT account_customuser_groups_customuser_id_group_id_7e51db7b_uniq UNIQUE (customuser_id, group_id);


--
-- Name: account_customuser_groups account_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.account_customuser_groups
    ADD CONSTRAINT account_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: account_customuser account_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.account_customuser
    ADD CONSTRAINT account_customuser_pkey PRIMARY KEY (id);


--
-- Name: account_customuser_user_permissions account_customuser_user__customuser_id_permission_650e378f_uniq; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.account_customuser_user_permissions
    ADD CONSTRAINT account_customuser_user__customuser_id_permission_650e378f_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: account_customuser_user_permissions account_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.account_customuser_user_permissions
    ADD CONSTRAINT account_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: account_customuser account_customuser_username_key; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.account_customuser
    ADD CONSTRAINT account_customuser_username_key UNIQUE (username);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: events_category events_category_name_key; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.events_category
    ADD CONSTRAINT events_category_name_key UNIQUE (name);


--
-- Name: events_category events_category_pkey; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.events_category
    ADD CONSTRAINT events_category_pkey PRIMARY KEY (id);


--
-- Name: events_event events_event_pkey; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.events_event
    ADD CONSTRAINT events_event_pkey PRIMARY KEY (id);


--
-- Name: events_eventimage events_eventimage_pkey; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.events_eventimage
    ADD CONSTRAINT events_eventimage_pkey PRIMARY KEY (id);


--
-- Name: participation_participation participation_participation_pkey; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.participation_participation
    ADD CONSTRAINT participation_participation_pkey PRIMARY KEY (id);


--
-- Name: reviews_review reviews_review_pkey; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.reviews_review
    ADD CONSTRAINT reviews_review_pkey PRIMARY KEY (id);


--
-- Name: reviews_reviewmedia reviews_reviewmedia_pkey; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.reviews_reviewmedia
    ADD CONSTRAINT reviews_reviewmedia_pkey PRIMARY KEY (id);


--
-- Name: participation_participation unique_participation; Type: CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.participation_participation
    ADD CONSTRAINT unique_participation UNIQUE (user_id, event_id);


--
-- Name: account_customuser_groups_customuser_id_b6c60904; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX account_customuser_groups_customuser_id_b6c60904 ON public.account_customuser_groups USING btree (customuser_id);


--
-- Name: account_customuser_groups_group_id_2be9f6d7; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX account_customuser_groups_group_id_2be9f6d7 ON public.account_customuser_groups USING btree (group_id);


--
-- Name: account_customuser_user_permissions_customuser_id_03bcc114; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX account_customuser_user_permissions_customuser_id_03bcc114 ON public.account_customuser_user_permissions USING btree (customuser_id);


--
-- Name: account_customuser_user_permissions_permission_id_f4aec423; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX account_customuser_user_permissions_permission_id_f4aec423 ON public.account_customuser_user_permissions USING btree (permission_id);


--
-- Name: account_customuser_username_724ae020_like; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX account_customuser_username_724ae020_like ON public.account_customuser USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: events_category_name_48082d16_like; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX events_category_name_48082d16_like ON public.events_category USING btree (name varchar_pattern_ops);


--
-- Name: events_event_category_id_01d3a3ab; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX events_event_category_id_01d3a3ab ON public.events_event USING btree (category_id);


--
-- Name: events_event_organizer_id_3afa7809; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX events_event_organizer_id_3afa7809 ON public.events_event USING btree (organizer_id);


--
-- Name: events_eventimage_event_id_98f6f988; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX events_eventimage_event_id_98f6f988 ON public.events_eventimage USING btree (event_id);


--
-- Name: participation_participation_event_id_ee101a5f; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX participation_participation_event_id_ee101a5f ON public.participation_participation USING btree (event_id);


--
-- Name: participation_participation_user_id_8ebea924; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX participation_participation_user_id_8ebea924 ON public.participation_participation USING btree (user_id);


--
-- Name: reviews_review_event_id_0425dab6; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX reviews_review_event_id_0425dab6 ON public.reviews_review USING btree (event_id);


--
-- Name: reviews_review_user_id_875caff2; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX reviews_review_user_id_875caff2 ON public.reviews_review USING btree (user_id);


--
-- Name: reviews_reviewmedia_review_id_f69c18ce; Type: INDEX; Schema: public; Owner: jessy
--

CREATE INDEX reviews_reviewmedia_review_id_f69c18ce ON public.reviews_reviewmedia USING btree (review_id);


--
-- Name: account_customuser_groups account_customuser_g_customuser_id_b6c60904_fk_account_c; Type: FK CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.account_customuser_groups
    ADD CONSTRAINT account_customuser_g_customuser_id_b6c60904_fk_account_c FOREIGN KEY (customuser_id) REFERENCES public.account_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: account_customuser_groups account_customuser_groups_group_id_2be9f6d7_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.account_customuser_groups
    ADD CONSTRAINT account_customuser_groups_group_id_2be9f6d7_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: account_customuser_user_permissions account_customuser_u_customuser_id_03bcc114_fk_account_c; Type: FK CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.account_customuser_user_permissions
    ADD CONSTRAINT account_customuser_u_customuser_id_03bcc114_fk_account_c FOREIGN KEY (customuser_id) REFERENCES public.account_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: account_customuser_user_permissions account_customuser_u_permission_id_f4aec423_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.account_customuser_user_permissions
    ADD CONSTRAINT account_customuser_u_permission_id_f4aec423_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_account_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_account_customuser_id FOREIGN KEY (user_id) REFERENCES public.account_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: events_event events_event_category_id_01d3a3ab_fk_events_category_id; Type: FK CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.events_event
    ADD CONSTRAINT events_event_category_id_01d3a3ab_fk_events_category_id FOREIGN KEY (category_id) REFERENCES public.events_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: events_event events_event_organizer_id_3afa7809_fk_account_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.events_event
    ADD CONSTRAINT events_event_organizer_id_3afa7809_fk_account_customuser_id FOREIGN KEY (organizer_id) REFERENCES public.account_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: events_eventimage events_eventimage_event_id_98f6f988_fk_events_event_id; Type: FK CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.events_eventimage
    ADD CONSTRAINT events_eventimage_event_id_98f6f988_fk_events_event_id FOREIGN KEY (event_id) REFERENCES public.events_event(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: participation_participation participation_partic_event_id_ee101a5f_fk_events_ev; Type: FK CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.participation_participation
    ADD CONSTRAINT participation_partic_event_id_ee101a5f_fk_events_ev FOREIGN KEY (event_id) REFERENCES public.events_event(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: participation_participation participation_partic_user_id_8ebea924_fk_account_c; Type: FK CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.participation_participation
    ADD CONSTRAINT participation_partic_user_id_8ebea924_fk_account_c FOREIGN KEY (user_id) REFERENCES public.account_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reviews_review reviews_review_event_id_0425dab6_fk_events_event_id; Type: FK CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.reviews_review
    ADD CONSTRAINT reviews_review_event_id_0425dab6_fk_events_event_id FOREIGN KEY (event_id) REFERENCES public.events_event(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reviews_review reviews_review_user_id_875caff2_fk_account_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.reviews_review
    ADD CONSTRAINT reviews_review_user_id_875caff2_fk_account_customuser_id FOREIGN KEY (user_id) REFERENCES public.account_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reviews_reviewmedia reviews_reviewmedia_review_id_f69c18ce_fk_reviews_review_id; Type: FK CONSTRAINT; Schema: public; Owner: jessy
--

ALTER TABLE ONLY public.reviews_reviewmedia
    ADD CONSTRAINT reviews_reviewmedia_review_id_f69c18ce_fk_reviews_review_id FOREIGN KEY (review_id) REFERENCES public.reviews_review(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: jessy
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

