{% extends "base.html" %}


{% block title %} Liste des events {% endblock %}

{% block content %}

    <div class="fieldset w-full max-w-md rounded shadow items-center flex flex-col p-6 gap-3">
        <legend class="fieldset-legend mb-[50px] font-bold text-xl">Filtrer les events</legend>
        <fieldset class="fieldset w-full flex items-center mb-[10px]">
            <legend class="fieldset-legend mb-[10px]">Date min</legend>
            <input id="date-deb" type="date" class="input w-full"/>
        </fieldset>
        <fieldset class="fieldset w-full mb-[10px]">
            <legend class="fieldset-legend mb-[10px]">Date max</legend>
            <input id="date-fin" type="date" class="input w-full"/>
        </fieldset>
        <fieldset class="fieldset w-full mb-[10px]">
            <legend class="fieldset-legend mb-[10px]">Catégorie</legend>
            <label>
                <select id="cat" class="select w-full">
                    <option disabled selected value="">Choisissez une catégorie</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </label>
        </fieldset>
        <fieldset class="fieldset w-full mb-[50px]">
            <legend class="fieldset-legend mb-[10px]">Nombre de personnes max</legend>
            <input
                    type="number"
                    class="input validator w-full"
                    required
                    placeholder="Entrez un nombre entre 1 et 500"
                    min="1"
                    max="500"
                    title="Entrez un nombre entre 1 et 500"
                    id="cap"
            />
        </fieldset>
        <button id="btn-filter" class="btn w-full bg-blue-500 text-bold hover:bg-blue-400" onclick="events_filter()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z"></path>
            </svg>
            Filtrer
        </button>
    </div>

    <div class="flex-1 p-6 max-h-[80vw] overflow-x-auto">
        <div id="event_list" class="grid grid-cols-3 gap-4">
            {% include "events/event_card.html" %}
        </div>
    </div>
{% endblock %}